:root {
	--primary-color: #FCBC3F;
	--dark-color:  #2A3A52;
	--light-color:  #6E7988;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body{
    height: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: var(--dark-color);
}

.sidebar-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-menu{
    position: relative;
    margin: 20px 0;
    text-align: center;
}

.sidebar-menu a{
    text-decoration: none;
    opacity: 0.5;
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
    color: white;
}

.sidebar-menu a.selected{
    opacity: 1;
}

section {
    left: 15%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    scroll-snap-align: center;
}   

#main {
    width: 100%;
    height: 100%;
    
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#estacione {
    background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat
    center center/cover;
}

#facil {
    background: url("https://source.unsplash.com/2aAHlfDOhJM/1600x900") no-repeat
    center center/cover;
}

#sem-filas{
    background: url("https://source.unsplash.com/VRxo0yY-gyM/1600x900") no-repeat
    center center/cover;
}

#sem-contato{
    background: url("https://source.unsplash.com/K2tdx2mFDHc/1600x900") no-repeat
    center center/cover;
}

/* EasyPark */
.easypark {
    position: relative;

    font-family: Reem Kufi, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;

    margin: 20px 0;
    text-align: center;

    color: var(--primary-color);
}


