:root {
	--primary-color: #FFCC3F;
  --secondary-color: #FCB72B;
	--dark-color:  #2A3A52;
	--light-color:  #6E7988;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Reem Kufi', sans-serif;
}

html, body{
    height: 100%;
    overflow: hidden;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: center;
}

.sidebar{
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: var(--dark-color);
}

.sidebar-menu{
    position: relative;
    text-align: center;
    margin-top: 140px;
}

.sidebar-menu a{
    text-decoration: none;
    opacity: 0.5;
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
    color: white;
}

.sidebar-menu a.selected{
    opacity: 1;
} 

#sidebar-item-5 {
    margin-top: 60px;
}

.text-content {
    background-color: rgba(5, 53, 53, 0.90);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.text-content h3 {
    font-size: 62px;
    color: var(--primary-color);
    margin-bottom: 15px; 
}

.text-content p {
    text-align: left;
    font-size: 24px;
    color: white;
    padding: 0px 10%;
    margin-bottom: 15px;
}

#featured-text {
    color: var(--primary-color);
    font-size: 32px;
}

#main {
    margin-left: 15%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.call-to-action {
    width: 350px;
    height: 60px;
    padding: 5px;
    margin-top: 80px;
    border-radius: 15px;
    font-size: 32px;
    font-weight: bold;
    color: var(--dark-color);
    background-color: var(--primary-color);
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

#estacione {
    background: url('../_img/estacionamento.jpg') no-repeat
    center center/cover;
}

#funcionalidades {
    background: url("../_img/recursos.jpg") no-repeat
    center center/cover;
}

#facil {
    background: url("../_img/smartphone.png") no-repeat
    center center/cover;
}

#sem-filas{
    background: url("../_img/fila.png") no-repeat
    center center/cover;
}

#sem-contato{
    background: url("../_img/sem-contato.jpg") no-repeat
    center center/cover;
}

#app {
    background: url("../_img/app.jpg") no-repeat
    center center/cover;
}

#pesquisa {
    background: url("../_img/pesquisa.jpg") no-repeat
    center center/cover;
}

/* EasyPark */
.easypark {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    position: relative;
    margin: 20px 0;
    text-align: center;
    color: var(--primary-color);
}


@media screen and (max-width: 1228px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }

    .sidebar {
        grid-row: 1;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .sidebar-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    .sidebar-menu ul {
        display: flex;
        list-style-type: none;
    }

    .sidebar-menu ul li {
        margin: 0px 10px;
    }

    #main {
        grid-row: 2;
        margin: 0px;
    }

    .easypark {
        margin-left: 20px;
    }

    #sidebar-item-5 {
        margin: 0px;
    }
}

@media screen and (max-width: 798px) {
    .sidebar {
        flex-wrap: wrap;
    }

    .sidebar-menu ul {
        flex-wrap: wrap;
    }

    .easypark {
        width: 100%;
    }

    #sidebar-item-5 {
        margin: 0px;
    }
}